.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 5px solid #018b8b;
  border-radius: 100%;
}
/* position: relative;: Это позволяет нам позиционировать другие элементы внутри контейнера относительно этого контейнера.
width и height: Задают размеры часов.
border: 5px solid #018b8b;: Создает рамку вокруг часов толщиной 5 пикселей цвета #018b8b.
border-radius: 100%;: Делает рамку круглой, так как радиус границы равен 100%. */


.minute-hand,
.second-hand {
  position: absolute;
  width: 2px;
  background-color:
    #018b8b;
  transform-origin: 100% 100%;
}
/* position: absolute;: Позиционирует стрелки абсолютно внутри контейнера с часами.
width: 2px;: Задает ширину стрелок в 2 пикселя.
background-color: #018b8b;: Задает цвет стрелок.
transform-origin: 100% 100%;: Определяет точку, относительно которой будет происходить вращение стрелок (правый нижний угол). */


.minute-hand {
  height: 60px;
  top: 40px;
  left: 98.5px;
  animation: rotate 3600s steps(60) infinite;
}
/* height: 60px;: Задает высоту минутной стрелки в 60 пикселей.
top: 40px;: Определяет расположение минутной стрелки относительно верхнего края контейнера часов.
left: 98.5px;: Определяет расположение минутной стрелки относительно левого края контейнера часов.
animation: rotate 3600s steps(60) infinite;: Создает анимацию вращения стрелки с интервалом в 3600 секунд (один час) и 60 шагами. infinite указывает, что анимация будет проигрываться бесконечно. */


.second-hand {
  height: 70px;
  top: 30px;
  left: 98px;
  animation: rotate 60s steps(60) infinite;
}
/* height: 70px;: Задает высоту секундной стрелки в 70 пикселей.
top: 30px;: Определяет расположение секундной стрелки относительно верхнего края контейнера часов.
left: 98px;: Определяет расположение секундной стрелки относительно левого края контейнера часов.
animation: rotate 60s steps(60) infinite;: Создает анимацию вращения стрелки с интервалом в 60 секунд (одна минута) и 60 шагами. infinite указывает, что анимация будет проигрываться бесконечно. */


.center-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color:
    #018b8b;
  border-radius: 100%;
  top: 95px;
  left: 95px;
}
/* position: absolute;: Позиционирует круг абсолютно внутри контейнера с часами.
width: 10px;: Задает ширину круга в 10 пикселей.
height: 10px;: Задает высоту круга в 10 пикселей.
background-color: #018b8b;: Задает цвет круга.
border-radius: 100%;: Делает круг круглым, так как радиус границы равен 100%.
top: 95px;: Определяет вертикальное расположение центрального круга относительно верхнего края контейнера часов.
left: 95px;: Определяет горизонтальное расположение центрального круга относительно левого края контейнера часов. */


@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
/* Эта часть кода создает анимацию rotate, которая вращает стрелки от 0 до 360 градусов. from указывает начальное состояние анимации, а to указывает конечное состояние. */

