* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/Step_Project/img/задник6.avif);
    background-size: cover;

}

header {
    /* position: fixed; */
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.phone-btn {
    display: inline-block;
    padding: 10px 20px;
    color: #3f7af0;
    text-decoration: none;
    text-align: center;
    margin-top: 25px;
    transition: transform 0.4s ease;
    font-weight: bold;
}



.phone-btn:hover {
    transform: scale(1.2);
    color: #FE5998;
}

.logo {
    background-image: url(/Step_Project/img/logotipe.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    align-self: center;
    margin-bottom: 5px;
    transition: transform 0.4s ease;
}
.logo:hover{
    transform: scale(1.1);

}

.adress_btn {
    display: inline-block;
    padding: 10px 20px;
    color: #3f7af0;;
    text-decoration: none;
    text-align: center;
    margin-top: 25px;
    transition: transform 0.4s ease;
    font-weight: bold;
}
.adress_btn:hover {
    transform: scale(1.2);
    color: #FE5998;
}

hr{
    margin:20px 50px;
    border-style: dashed;
    color: #D6AD8D;
    font-weight: bold;
}






img.cart {
    width: 30px;
}

.taste {
    font-family: 'Yellowtail', cursive;
    font-size: 500%;
    text-align: center;
} 

.img-container {
    background-image: url(/Step_Project/img/the-taste-of-asia.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    align-self: center;
}

.pages {
    font-family: 'Yellowtail', cursive;
    font-weight: bold;
    font-size: larger;
    display: flex;
    margin: 20px;
    justify-content: space-around;
    
}

.a-pages {
    display: inline-block;
    text-decoration: none;
    color: #4c7ad8;
    transition: transform 0.4s ease;
}

.a-pages:hover {
    transform: scale(1.2);
    color: #FE5998;
}

.pages > div:nth-child(5):hover img.cart{
    transform: scale(1.5);
    transition: transform 0.4s ease;
    filter: none;
}
.pages > div:nth-child(5) img.cart{
    filter: hue-rotate(250deg)
}

.gallery {
    cursor: pointer;
    display: grid;
    margin: 50px;
    grid-template-columns:repeat(3);
    grid-template-rows: repeat(2, 550px);
    gap: 20px;
    grid-template-areas: "taste taste taste"
                         "story menu interior"
}


.gallery-item:nth-child(1){
    grid-area: taste;
}

.gallery-item:nth-child(2){
    grid-area: story;
}
.gallery-item:nth-child(3){
    grid-area: menu;
}

.gallery-item:nth-child(4){
    grid-area: interior;
}


.gallery-item {
    position: relative;
    overflow: hidden;

}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    /* text-align: center; */
    font-family: 'Yellowtail', cursive;
    font-size: 200%;


    opacity: 1;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .text-overlay {
    opacity: 0;
}
/* 
.gallery-item .image1 {
    grid-row: span 1;
    grid-column: span 1;
}

.image2,
.image3,
.image4 {
    grid-row: span 1;
    grid-column: span 1;
} */

h1.about {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Yellowtail', cursive;
}
h1.menu {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Yellowtail', cursive;
}

h3.menu {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: 'Yellowtail', cursive;
    margin-bottom: 50px;
}
h3.price {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: 'Yellowtail', cursive;
}

/* .card {
    width: 150px;
    height: 100px; 
    border-radius: 8px; 
    padding: 10px;
} */
.card-menu {
    max-width: 100%;
    /* --bs-card-spacer-y: 1rem; */
    /* --bs-card-spacer-x: 1rem; */
    /* --bs-card-title-spacer-y: 0.5rem; */
    /* --bs-card-title-color: ; */
    /* --bs-card-subtitle-color: ; */
    /* --bs-card-border-width: var(--bs-border-width); */
    /* --bs-card-border-color: var(--bs-border-color-translucent); */
    /* --bs-card-border-radius: var(--bs-border-radius); */
    /* --bs-card-box-shadow: ; */
    /* --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width))); */
    /* --bs-card-cap-padding-y: 0.5rem; */
    /* --bs-card-cap-padding-x: 1rem; */
    /* --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03); */
    /* --bs-card-cap-color: ; */
    /* --bs-card-height: ; */
    /* --bs-card-color: ; */
    /* --bs-card-bg: var(--bs-body-bg); */
    /* --bs-card-img-overlay-padding: 1rem; */
    /* --bs-card-group-margin: 0.75rem; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    /* min-width: 0; */
    /* height: var(--bs-card-height); */
    /* color: var(--bs-body-color); */
    /* word-wrap: break-word; */
    /* background-color: var(--bs-card-bg); */
    /* background-clip: border-box; */
    /* border: var(--bs-card-border-width) solid var(--bs-card-border-color); */
    /* border-radius: var(--bs-card-border-radius); */
    /* align-items: center; */
    /* justify-content: center; */
    background-color: #D6AD8D;
}
.img{
    /* width: 100%; */
    /* height: fit-content; */
    
}
.card-body {
    /* flex: 1 1 auto; */
    /* padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x); */
    /* color: var(--bs-card-color); */
}

.card-img-top {
    max-width: 100%;
}

.card-text {
    text-align: center;
}

/* .card-text:last-child {
    margin-bottom: 0;
} */

.menu-grid {
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
    /* grid-gap: 20px; */
    gap: 20px;
}










.video-container {
    /* display: flex; */
    position: relative;
    max-width:100% ;
    /* max-height: 50%; */
    cursor: pointer;
    margin: 50px;
    /* align-items: center; */
  }
  
  #myVideo {
    /* align-self: center; */
    width: 100%;
    height: 100%;
  }
  
  #video-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    opacity: 1;
    transition: opacity 0.5s;
    font-family: 'Yellowtail', cursive;
    font-size: 800%;
  }
  
  #myVideo:focus + #video-title,
  #myVideo:active + #video-title {
    opacity: 0;
  }





























  .card-about-us {
    display: flex;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    /* max-width: 600px; */
    /* height: 400px; */
    /* max-height: 400px; */
    margin: 50px;
}

.card-about-us img {
    max-width: 200px;
    border-radius: 8px;
}

.card-about-us-content {
    flex: 1;
    margin-right: 16px;
    position: relative;
}

.hidden-text {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 3s ease;
    overflow: scroll;
    scrollbar-color: hsl(100%, 93%, 46%);

    @supports (scrollbar-gutter: stable) {
        overflow: auto;
        scrollbar-gutter: stable;
    }
}

.hidden-text::-webkit-scrollbar {
    width: 5px;
    /* height: 5px; */
}

.hidden-text::-webkit-scrollbar-thumb {
    background: #4c7ad8;
    border-radius: 20px;
}

.hidden-text::-webkit-scrollbar-track {
    background-color:#FE5998;
    border-radius: 10%;
}

.show .hidden-text {
    display: block;
    max-height: 1000px;
    /* Set a large max-height to reveal content */
}

.learn-more {
    display: inline-block;
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #4c7ad8;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: transform 0.3s ease;
}

.learn-more:hover{
    transform: scale(1.1);
    background-color: #FE5998;
}




























.vibe {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: 'Yellowtail', cursive;
    margin: 100px;
}


.slideshow {
    position: relative;
    gap: 20px;
    width: 90%;
    margin: 50px;
    display: flex;
    overflow: hidden;
}
.slideshow img {
    width: 50%;
    display: none;
}
.slideshow img.active {
    display: block;
}
#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 25px;
    cursor: pointer;
    z-index: 1;
}
#prevBtn {
    left: 10px;
}
#nextBtn {
    right: 10px;
    /* background-image:url(/Step_Project/img/free-icon-right-arrow-545783.png) ; */
}
#nextBtn img{
    width: 50px;
}


.image-button-left {
    width: 40px;
    background-image: url('/Step_Project/img/left.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}
.image-button-right{
    width: 40px;
    background-image: url('/Step_Project/img/right.png');
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    opacity: 0.7;
}


