* {
    margin: 0;
    padding: 0;
}

.big_brother {
    padding: 10px 10px 10px 10px;
    background-color: gray;
    width: 100px;
}


.progress-bar {
    width: 90%;
    height: 20px;
    background-color: #f0f0f0;
    /* Цвет фона прогресс-бара */
    position: relative;
    overflow: hidden;
    /* чтобы скрыть часть прогресса, который выходит за пределы */
    border: 2px #FFA500 solid;
}

/*  Этот блок кода стилизует прогресс-бар, устанавливая его размеры, фоновый цвет, позиционирование, скрытие части прогресса, который выходит за пределы, и границу в виде оранжевой обводки. */

.progress-bar::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20%;
    /* начнем с части за пределами контейнера  */
    width: 20%;
    /* ширина прогресса, управляющая размером движущейся части */
    height: 100%;
    background-color: #FFA500;
    /* Цвет прогресса */
    animation: progress 5s linear infinite;
    /* Анимация прогресса */
}

/* Этот блок кода создает псевдоэлемент ::before для прогресс-бара, который используется для анимации прогресса. Псевдоэлемент имеет абсолютное позиционирование и начально устанавливается за пределами контейнера прогресс-бара. Его ширина представляет собой начальный прогресс, а анимация будет перемещать его с левого края до правого края контейнера за 5 секунд. */

@keyframes progress {
    100% {
        left: 100%;
        /* движение прогресса с лева на право */
    }
}

/* Этот блок кода определяет анимацию с именем progress. В течение 5 секунд псевдоэлемент будет двигаться с левого края до правого края контейнера, создавая эффект прогресса. */