/* 
   Стили для контейнера дверей 
   Устанавливаю цвет фона, ширину, высоту и перспективу для контейнера дверей.
*/
.door-container {
    background-color: #f5f5f5; 
    /* Цвет фона контейнера */
    width: 300px; 
    /* Ширина контейнера */
    height: 300px; 
    /* Высота контейнера */
    perspective: 800px; 
    /* Значение перспективы для 3D пространства */
}

/* 
   Настройка структуры дверей 
   Позиционирую двери относительно контейнера и сохраняю 3D эффект.
*/
.doors {
    position: relative; 
    /* Позиционирую двери относительно контейнера */
    width: 100%; 
    /* Ширина дверного контейнера равна ширине родительского контейнера */
    height: 100%; 
    /* Высота дверного контейнера равна высоте родительского контейнера */
    transform-style: preserve-3d; 
    /* Сохраняю 3D позицию для дочерних элементов */
}

/* 
   Настройка левой и правой дверей 
   Определяю позиционирование, размеры и стили для левой и правой дверей, 
   включая их ширину, высоту, цвет фона и границу, а также добавляю плавный переход.
*/
.door-left,
.door-right {
    position: absolute; 
    /* Фиксирую двери относительно видимой области окна браузера */
    width: 50%; 
    /* Ширина каждой двери равна половине ширины контейнера */
    height: 100%; 
    /* Высота каждой двери равна высоте контейнера */
    background-color: #872d62; 
    /* Цвет фона дверей */
    border: 5px solid #651142; 
    /* Граница для дверей */
    transition: 2s; 
    /* Плавный переход для дверей длительностью 2 секунды */
}

/* Позиционирую правую дверь справа */
.door-right {
    right: 0;
}

/* 
   Настройка контента 
   Задаю позиционирование и выравнивание для контента, расположенного за дверьми, 
   чтобы он находился абсолютно внутри дверного контейнера и был выровнен по центру.
*/
.content {
    position: absolute; 
    /* Позиционирую контент абсолютно внутри дверного контейнера */
    width: 100%; 
    /* Ширина контента равна ширине дверного контейнера */
    height: 100%; 
    /* Высота контента равна высоте дверного контейнера */
    display: flex; 
    /* Использую Flexbox для центрирования контента */
    justify-content: center; 
    /* Выравниваю контент по горизонтали по центру */
    align-items: center; 
    /* Выравниваю контент по вертикали по центру */
}

/* 
   Анимация открытия дверей при наведении 
   Поворачиваю левую дверь на 70 градусов.
*/
.doors:hover .door-left {
    transform: rotateY(70deg); 
    /* Поворачиваю левую дверь на 70 градусов при наведении курсора */
    transform-origin: left; 
    /* Устанавливаю точку вращения левой двери слева */
}

/* 
   Плавное закрытие левой двери 
   Добавляю плавный переход при закрытии левой двери.
*/
.doors:not(:hover) .door-left {
    transform-origin: left; 
    /* Устанавливаю точку вращения левой двери слева */
    transition: 0.5s; 
    /* Плавный переход для левой двери длительностью 0.5 секунды */
}

/* 
   Анимация открытия правой двери при наведении 
   Поворачиваю правую дверь на -70 градусов при наведении курсора.
*/
.doors:hover .door-right {
    transform: rotateY(-70deg); 
    /* Поворачиваю правую дверь на -70 градусов при наведении курсора */
    transform-origin: right; 
    /* Устанавливаю точку вращения правой двери справа */
}

/* 
   Плавное закрытие правой двери 
   Добавляю плавный переход при закрытии правой двери.
*/
.doors:not(:hover) .door-right {
    transform-origin: right; 
    /* Устанавливаю точку вращения правой двери справа */
    transition: 0.5s; 
    /* Плавный переход для правой двери длительностью 0.5 секунды */
}