* {
    /* margin: 0;
    padding: 0; */
    background-color: #F6F6F6;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.box{
    display: flex;
    flex-flow: wrap;
    margin: 25px 10px ;
}

section {
    border: 5px solid gray;
    padding: 40px;
    margin: 10px;
    border-radius: 15%;
    
}

p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
}

hr {
    block-size: 3px;
    background-color: gray;
    width: 96.5% ;
}