h1{
    border: 10px solid rgb(32, 220, 22) ;
    /* border должен иметь 3 оценки это величина в пикселях, тип(сплошной, пунктирный) и цвет */
height: 40px;
width: fit-content;
/* у ширины есть способность приспособиться к тексту. за счет фит контента */
/* padding: 40px; */

/* padding-top: ;
padding-right: ;
padding-bottom: ;
padding-left: ; 
порядок по которому пишется характер, сначала верх, потом правый, потом низ, потом левый*/

padding: 20px 30px 10px 40px;
/* в общем характер пэдинга можно прописать 4 умножить на 3, то есть на 12 характеров */
}

/* .one{
    padding-bottom: 50px;
}

.two{
    padding-top: 70px;
} */

.one{
    margin-bottom: 50px;
}

.two{
    margin-top: 30px;
}
