.image-container {
    width: 200px;
    /* начальная ширина контейнера */
    height: 200px;
    /* начальная высота контейнера */
    overflow: hidden; /* чтобы картинка не вылезала за пределы контейнера */
    filter: grayscale(100%);
    /* Фильтр для картинки */
}

.image-container:hover {
    width: 300px;
    /* конечная ширина контейнера */
    height: 300px;
    /* конечная высота контейнера */
    filter: none;
    /* отмена фильтра, чтобы картинка приняла свой естественный цвет */
    transition: 5s; /* устанавливаю анимацию для изменения размера контейнера */
}

.image-container img {
    width: 100%;
    /* чтобы изображение заполняло контейнер */
    height: 100%;
    transition: 5s; /* устанавливаю анимацию для изменения размера изображения */
}

.image-container:hover img {
    transform: scale(1.5);
    /* увеличение размера изображения */
}

.image-container:not(:hover) img {
    transition: 0s; /* убираю анимацию при снятии наведения */
}

/* 
1)Сначала я определяю стили для .image-container, который содержит изображение. Устанавливаю начальные размеры контейнера (ширина и высота), применяю фильтр для изображения (в данном случае, серый цвет для начального состояния), и устанавливаю свойство overflow: hidden;, чтобы изображение не выходило за границы контейнера.

2)Затем я использую псевдокласс :hover, чтобы определить стили для контейнера и его изображения при наведении курсора на него. Я изменяю размеры контейнера на конечные значения (ширина и высота), отменяю фильтр для изображения, чтобы оно вернулось к своему естественному цвету, и устанавливаю анимацию для изменения размеров контейнера с помощью свойства transition.

3)Затем я определяю стили для изображения .image-container img. Устанавливаю ширину и высоту изображения на 100%, чтобы оно заполнило весь контейнер, и устанавливаю анимацию для изменения размера изображения при наведении курсора на контейнер с помощью свойства transition.
В псевдоклассе .image-container:hover img я увеличиваю размер изображения до 1.5 раза его исходного размера с помощью transform: scale(1.5);. Это приводит к плавному увеличению изображения при наведении курсора на контейнер.

4)И в конце я использую селектор :not(:hover), чтобы определить стили для изображения при снятии курсора с контейнера. Я устанавливаю анимацию для изменения размера изображения на 0 секунд, чтобы при снятии курсора изображение мгновенно вернулось к исходному размеру. */